<?xml version="1.0" encoding="utf-8"?>

<!-- Дополнительные сведения об использовании преобразования web.config см. на странице https://go.microsoft.com/fwlink/?LinkId=125889. -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=server.domain.local\develop;initial catalog=AtlantIoWork;persist security info=True;user id=develop;password=qsIjA4WS5KOCGKb;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="TypeConfiguration" value="vasiliy.stan" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>    
    <add key="VisibleExtendedLog" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="TimerInterval" value="60000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="UriBitcoinRpcServer" value="http://localhost:18332" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoginBitcoinRpcServer" value="ageron" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PasswordBitcoinRpcServer" value="nxHFyPtKNKabbP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MaxGenerationForConfirmation" value="6" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MinCoutConfirmations" value="3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="IpAddressCoreBitcoinService" value="127.0.0.1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MaxCountConnectionsForTcpListeners" value="30000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PortForSendBtc" value="30000" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PortForGetLast" value="30001" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PortForGetAddressForAccount" value="30002" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>  
</configuration>