<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=server.domain.local\production;initial catalog=AtlantIoWork;persist security info=True;user id=production;password=qsIjA4WS5KOCGKb;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="LogsConnection" connectionString="Server=server.domain.local;initial catalog=AtlantIoLogs;persist security info=True;user id=develop;password=qsIjA4WS5KOCGKb;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add name="SaContextConnection" connectionString="Server=server.domain.local\production;initial catalog=master;persist security info=True;user id=sa;password=;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    
    <add key="SystemAccountUserName" value="system" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemAccountPassword" value="Ozth3NG7yL3rfiWFlEYCuP9KRk0JBQrSeb2FVUS3916X8vOf1kvgBypL23oVM5fOzfcMrF99VmDrrJHXqCxBieL9f8FVIym0ka8W59bXy7b2Jl7AKM7jxh0qekBNX8uPCKN" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SystemAccountEmailAddress" value="systemaccount@ageron.info" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="DefaultAdministratorUserName" value="admin" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultAdministratorPassword" value="admin123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultAdministratorEmailAddress" value="admin@ageron.info" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="DefaultUserUserName" value="user" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultUserPassword" value="user123" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="DefaultUserEmailAddress" value="user@ageron.info" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="InstanceSqlServer" value="Develop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FolderSqlServer" value="MSSQL13.DEVELOP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WorkSqlDbName" value="AtlantIoWork" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LogsSqlDbName" value="AtlantIoLogs" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SqlDbUser" value="develop" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="BitcoinNodeServiceDataDir" value="E:\BitcoinNodeServerData\regtest" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BitcoinNodeServiceName" value="BitcoinNodeServer" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BitcoinCliExeFile" value="E:\Work\Atlant.io\Install\bitcoin-0.15.1-win64\bin\bitcoin-cli.exe" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="BitcoinCliExeFileArgumentsStringFormat" value="-rpcuser=ageron -rpcpassword=nxHFyPtKNKabbP -regtest generate {0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

    <add key="UriBitcoinRpcServer" value="http://localhost:18332" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="LoginBitcoinRpcServer" value="ageron" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="PasswordBitcoinRpcServer" value="nxHFyPtKNKabbP" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />

  </appSettings>  
</configuration>